thead , h1, h2, h3, h4, h5, h6
{
    background-color: silver;
    clear: both;
}
#pagename
{
    font-family: Aral;
    color: red;
}
th + td
{
    font-family: Aral;
}
thead th
{
    border: 6px solid black;
}
*
{
    font-family: cursive;
    color: black;
   
    font-size: 18px;
}
body
{
 background-color: blue;  
}
img
{
    float: left;
    border: black;
    margin: 15px;
    padding: 15px;
    border-radius: 15%;
}
